<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link href="base.css" rel="stylesheet" type="text/css" />
  <link href="layout.css" rel="stylesheet" type="text/css" />
  <link href="modules.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <main>
    <div class="books">
      <% searchResults.forEach(book => { %>
      <form action="/searches/new/" method="post">
        <section class="book">
          <img src="<%= book.image_url %>">
          <h3 class="title"><%= book.title %></h3>
          <h3 class="author"><%= book.author %></h3>
          <p class="description"><%= book.description %></p>
        </section>
        <input type="hidden" name="title" value="<%= book.title %>" />
        <input type="hidden" name="author" value="<%= book.author %>" />
        <input type="hidden" name="description" value="<%= book.description %>" />
        <input type="hidden" name="image_url" value="<%= book.image_url %>" />
        <button>Add to Favorites</button>
      </form>
      <% }) %>
    </div>
  </main>
</body>

</html>